<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/public/css/site.css">
</head>
<body>
        {{{body}}}
        <footer>
            <p class="home-category"> contact us</p>
            <img src="https://www.seeklogo.net/wp-content/uploads/2015/11/twitter-logo.png" width="50" height="50">
            <img src="../public/images/facebook-flat-vector-logo.png" width="50" height="50">
            <img src="../public/images/google-favicon-logo.png" width="50" height="50">
            <img src="../public/images/instagram-logo-vector-download copy.jpg" width="50" height="50">
            <img src="../public/images/YouTube-icon-big.png" width="50" height="50">
        </footer>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="/public/js/image-preview.js"></script>

</body>
</html>