<div class="topbar">
    <div class="logo-box">
        <a href="http://localhost:3000/"> <img src="../public/images/logo.png" class="logo"></a>
    </div>
</div>

<p class="home-category">register</p>
<p class="home-category">{{error}}</p>
<p class="home-category">{{error_list.usernameerror}}</p>
<p class="home-category">{{error_list.passworderror}}</p>
<p class="home-category">{{error_list.nicknameerror}}</p>
<form action="/register" method="post">
    <label for="username" style="margin-left: 1px;">
        Username:
        <input name="username">
    </label>
    <br>
    <label for="password" style="margin-left: 4px">
        Password:
        <input name="password" type="password">
    </label>
    <br>
    <label for="nickname">
        Nickname:
        <input name="nickname">
    </label>
    <br>
    <label for="verify">
        Verify Code:
        <input name="verify">
    </label>

    <img src="/getCaptcha" width="200" height="50">
    <br>
    <button type="submit">register</button>
</form>