<p>register</p>
<p>{{error}}</p>
<form action="/register" method="post">
    <label for="username">
        Username:
        <input name="username">
    </label>
    <label for="password">
        Password:
        <input name="password" type="password">
    </label>
    <label for="nickname">
        Nickname:
        <input name="nickname">
    </label>
    <label for="verify">
        <input name="verify">
    </label>
    <img src="/getCaptcha">
    <button type="submit">register</button>
</form>