<div class="topbar">
    <div class="logo-box">
        <a href="http://localhost:3000/"> <img src="../public/images/logo.png" class="logo"></a>
    </div>
    <div class="right-bar">
        <div class="login-box">
            <a href="http://localhost:3000/private/{{user._id}}">{{user.username}}</a>
            <a href="http://localhost:3000/logout">logout</a>
        </div>
    </div>
    <p>Your submission has been accepted. Please wait for approval of administrator</p>
</div>
