<form action="/recipes/uploads" method="post" enctype="multipart/form-data" name="img-form">
    <div id="steps-list">
    </div>
    <button type="submit">submit</button>
    <p id="add-step">Add new step</p>
</form>
