<div id="new-content">
</div>
<form action="/recipes/uploads" method="post" name="img-form">
    <div class="upload-box">
        <div class="picture-content">
            <div class="recipe-title">
                Title of Recipe
                <label for="title">
                    <input name="title" placeholder="Please enter the title of this recipe" style="width: 300px">
                </label>
            </div>
            <div class="recipe-topbar">
                Category of Recipe
                <label for="category">
                    <input name="category" placeholder="please enter the category of this recipe" style="width: 200px">
                </label>
            </div>
            <div class="upload-picture">
                <span class="upload-text">
                    Click here to upload a cover picture
                </span>
                <img class="cover-preview" src="" width="600" height="500">
            </div>
        </div>
        <table class="ingredient-list">
            <tr>
                <th>Ingredients</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>
                    <label for="name">
                        <input name="name">
                    </label>
                </td>
                <td>
                    <label for="amount">
                        <input name="amount">
                    </label>
                </td>
            </tr>
        </table>
        <p id="add-ingredient">Add more ingredients</p>
        <div class="upload-list">
        </div>
    </div>
    <p id="add-step">Add new step</p>
    <button type="submit">submit</button>
    <a href="http://localhost:3000/private/{{id}}">back</a>
</form>