<a href="http://localhost:3000/private/{{user._id}}">{{user.username}}</a>
<a href="http://localhost:3000/logout">logout</a>

<a href="http://localhost:3000">home</a>
<p>Your submission has been accepted. Please wait for approval of administrator</p>